<!-- Customer signup form -->
<div class="container" ng-show="showForm=='csignup'">
    <div style="margin-top:50px;" class="main-box col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div ng-show="formError" class="alert alert-danger" ng-bind="formError"></div>

                <form id="login-form" class="form-horizontal" role="form" ng-submit="doSignup()">
						<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
						
                        <select ng-blur="formdata.title ? inputFields.title=true : inputFields.title=false" ng-click="inputFields.title=true" class="form-control" ng-model="formdata.title" placeholder="Title" ng-required="formRequires">
							<option></option>
							<option value="Mr">Mr</option>
							<option value="Miss">Miss</option>
							<option value="Ms">Ms</option>
							<option value="Madam,">Madam</option>
							<option value="Ma'am">Ma'am</option>
							<option value="Doctor">Doctor</option>
							<option value="Professor">Professor</option>
							<option value="Mc">Mc</option>
						</select>
						<div class="placeholder" ng-click="inputFields.title=true" ng-hide="inputFields.title">Title</div>
                    </div>
					
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <select ng-blur="formdata.gender ? inputFields.gender=true : inputFields.gender=false" ng-click="inputFields.gender=true" class="form-control" ng-model="formdata.gender" placeholder="Gender" ng-required="formRequires"="true">
							<option></option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Unspcified">Unspecified</option>
						</select>
						<div class="placeholder" ng-click="inputFields.gender=true" ng-hide="inputFields.gender">Gender</div>
                    </div>
					
                    <div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.givenname" placeholder="Given Name(s)" ng-required="formRequires">
                    </div>
					
                    <div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.surname" placeholder="Surname/Family Name" ng-required="formRequires">
                    </div>
					
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        <input type="date" ng-click="inputFields.dob=true" ng-blur="formdata.dob ? inputFields.dob=true : inputFields.dob=false" class="form-control" ng-model="formdata.dob" placeholder="Date Of Birth" ng-required="formRequires">
						<div class="placeholder dob" ng-click="inputFields.dob=true" ng-hide="inputFields.dob">Date Of Birth</div>
                    </div>
					
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-globe"></i>
                        </span>
						<select ng-click="inputFields.nationality=true" ng-blur="formdata.nationality ? inputFields.nationality=true : inputFields.nationality=false" ng-model="formdata.nationality" ng-options="country as country.name for country in countries" class="form-control" ng-required="formRequires">
							<option></option>
						</select>
						<div class="placeholder" ng-click="inputFields.nationality=true" ng-hide="inputFields.nationality">Nationality</div>
                    </div>

					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-globe"></i>
                        </span>
						<select ng-click="inputFields.residence=true" ng-blur="formdata.residence ? inputFields.residence=true : inputFields.residence=false" ng-model="formdata.residence" ng-options="country as country.name for country in countries" class="form-control" ng-required="formRequires">
							<option></option>
						</select>
						<div class="placeholder" ng-click="inputFields.residence=true" ng-hide="inputFields.residence">Place of Residence</div>
                    </div>
					
					<div style="margin-bottom: 25px; width: 100%;" class="input-group">
                        <input type="text" class="form-control tel" ng-model="formdata.tel" ng-intl-tel-input placeholder="Telephone Number" ng-required="formRequires">
                    </div>

					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-briefcase"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.dwa" placeholder="Digital Wallet Address" ng-required="formRequires" />
                    </div>
									
					<span class="form-error fade" name="dwa_confirm" ng-show="dwa_confirm!=formdata.dwa">Must Match Wallet Address.</span>
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-briefcase"></i>
                        </span>
                        <input type="text" ng-pattern="formdata.dwa" class="form-control" ng-model="dwa_confirm" placeholder="Confirm Digital Wallet Address" ng-required="formRequires" />
                    </div>
										
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <select ng-click="inputFields.type=true" ng-blur="formdata.type ? inputFields.type=true : inputFields.type=false" class="form-control" ng-model="formdata.type" placeholder="Digital Currency Type" ng-required="formRequires">
							<option></option>
							<option value="Etherium">Etherium</option>
							<option value="Waves">Waves</option>
							<option value="AEN">AEN</option>
						</select>
						<div class="placeholder" ng-click="inputFields.type=true" ng-hide="inputFields.type">Digital Currency</div>
                    </div>
					
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.email" placeholder="Email Address" ng-required="formRequires">
                    </div>

					<span class="form-error fade" name="dwa_confirm" ng-show="email_confirm!=formdata.email">Must Match Email Address.</span>
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="email_confirm" placeholder="Confirm Email Address" ng-required="formRequires">
                    </div>
					
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-facetime-video"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.skype" placeholder="Skype Number/Address" ng-required="formRequires">
                    </div>
					
                    <div style="margin-top: 10px;" class="form-group">
                        <div class="col-sm-10">
                            <button class="btn btn-primary" type="submit" ng-disabled="formdata.dwa!=dwa_confirm || formdata.email!=email_confirm">Sign Up</button>
							<span class="form-error fade" ng-show="formdata.dwa!=dwa_confirm || formdata.email!=email_confirm">Form Errors. Please review</span>
                        </div>
                        <div class="col-sm-2">
                            <span ng-bind="version" class="pull-right small"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--  END customer signup form  -->

<!-- Business signup form -->
<div class="container" ng-show="showForm=='bsignup'">
    <div style="margin-top:50px;" class="main-box col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Business Sign Up</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div ng-show="formError" class="alert alert-danger" ng-bind="formError"></div>

                <form id="login-form" class="form-horizontal" role="form" ng-submit="doSignup()">
                    <div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.company" placeholder="Full Legal Company Name" ng-required="formRequires">
                    </div>
					
                    <div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.incorporation" placeholder="Place of Incorporation" ng-required="formRequires">
                    </div>

                    <div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.rcaddress1" placeholder="Registered Company Address 1" ng-required="formRequires">
                    </div>
					
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.rcaddress2" placeholder="Registered Company Address 2">
                    </div>
					
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-globe"></i>
                        </span>
						<select ng-click="inputFields.rccountry=true" ng-blur="formdata.rccountry ? inputFields.rccountry=true : inputFields.rccountry=false" ng-model="formdata.rccountry" ng-options="country as country.name for country in countries" class="form-control" ng-required="formRequires"></select>
						<div class="placeholder" ng-click="inputFields.rccountry=true" ng-hide="inputFields.rccountry">Country of Registration</div>
                    </div>

					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-globe"></i>
                        </span>
						<select ng-click="inputFields.pob=true" ng-blur="formdata.pob ? inputFields.pob=true : inputFields.pob=false" ng-model="formdata.pob" ng-options="country as country.name for country in countries" class="form-control"></select>
						<div class="placeholder" ng-click="inputFields.pob=true" ng-hide="inputFields.pob">Place of Business</div>
                    </div>
					
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.email" placeholder="Company Email" ng-required="formRequires">
                    </div>
					
					<div style="margin-bottom: 25px; width: 100%;" class="input-group">
                        <input type="text" class="form-control tel" ng-model="formdata.tel" ng-intl-tel-input placeholder="Company Telephone" ng-required="formRequires">
                    </div>

					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.contact_first_name" placeholder="Contact Person First Name" ng-required="formRequires">
                    </div>
					
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.contact_last_name" placeholder="Contact Person Surname" ng-required="formRequires">
                    </div>

					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.contact_position" placeholder="Contact Position in Company" ng-required="formRequires">
                    </div>
					
					<div style="margin-bottom: 25px; width: 100%;" class="input-group">
                        <input type="text" class="form-control tel" ng-model="formdata.ctel" ng-intl-tel-input placeholder="Contact Telephone" ng-required="formRequires">
                    </div>
					
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-briefcase"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.dwa" placeholder="Digital Wallet Address" ng-required="formRequires">
                    </div>
					
					<div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <select ng-click="inputFields.type=true" ng-blur="formdata.type ? inputFields.type=true : inputFields.type=false" class="form-control" ng-model="formdata.type" placeholder="Digital Currency Type" ng-required="formRequires">
							<option value="Etherium">Etherium</option>
							<option value="Waves">Waves</option>
							<option value="AEN">AEN</option>
						</select>
						<div class="placeholder" ng-click="inputFields.type=true" ng-hide="inputFields.type">Digital Currency</div>
                    </div>
					
                    <div style="margin-top: 10px;" class="form-group">
                        <div class="col-sm-10">
                            <button class="btn btn-primary" type="submit">Sign Up</button>
                        </div>
                        <div class="col-sm-2">
                            <span ng-bind="version" class="pull-right small"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END business signup form -->