<div class="container" ng-show="showForm=='signin'">
    <div style="margin-top:50px;" class="main-box col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Know your Business
                </div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><span class="link" ng-click="showForm='sendpass'">Ha dimenticato la password / Forgot Password?</span></div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div ng-show="formError" class="alert alert-danger" ng-bind="formError"></div>

                <form id="login-form" class="form-horizontal" role="form" ng-submit="doLogin()">
                    <div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.email" placeholder="Indirizzo Email / Email Address" required>
                    </div>

                    <div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input type="password" class="form-control" ng-model="formdata.password" placeholder="Parola d'ordine / Password" required>
                    </div>

                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="formdata.remember" value="1" />
                                Ricordati di me. / Remember Me.
                            </label>
                        </div>
                    </div>

                    <div style="margin-top: 10px;" class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-primary" type="submit">Accedi / Sign In</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div style="border-top: 1px solid #bbb; padding-top: 15px; font-size: 85%;">
                                Non avete una password? Cliccate qui
                                <span class="link" ng-click="showForm='sendpass'">Crea una password.</span>
                            </div>
                            <div style="padding-top: 10px; font-size: 85%;">
                                Do not have a password yet?
                                <span class="link" ng-click="showForm='sendpass'">Send Password.</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="showForm=='sendpass'">
    <div style="margin-top:50px;" class="main-box col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Send Password
                </div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><span class="link" ng-click="showForm='signin'">Cancel</span></div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div ng-show="formError" class="alert alert-danger" ng-bind="formError"></div>

                <form id="sendpass-form" class="form-horizontal" role="form" ng-submit="sendPass()">
                    <div style="margin-bottom: 25px;" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="formdata.email" placeholder="Email Address" required>
                    </div>

                    <div style="margin-top: 10px;" class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-primary" type="submit">Send Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="showForm=='sent'">
    <h2>Un email per la creazione della password e’ stato inviato al vostro indirizzo.<br>Vi preghiamo di controllare la vostra email</h2>
    <h2>A password reset email has been sent. Please check your email Inbox.</h2>
</div>